@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "alert";
	default: false;
	prefersdark: true;
	color-scheme: "dark";

	--color-base-100: oklch(20% 0.01 240);
	--color-base-200: oklch(15% 0.02 240);
	--color-base-300: oklch(25% 0.02 240);
	--color-base-content: oklch(90% 0.01 240);

	--color-info: #3b82f6;
	--color-info-content: #ffffff;

	--radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
	name: "terminal";
	default: true;
	prefersdark: true;
	color-scheme: "dark";

	--color-base-100: #0a0a0c;
	--color-base-200: #141417;
	--color-base-300: #1d232a;
	--color-base-content: #e1e1e6;

	--color-primary: #10b981;
	--color-primary-content: #000000;

	--color-secondary: #2a3038;
	--color-secondary-content: #e1e1e6;

	--color-accent: #10b981;
	--color-accent-content: #000000;

	--color-neutral: #2d2d33;
	--color-neutral-content: #888891;

	--color-info: #3b82f6;
	--color-info-content: #ffffff;

	--color-success: #10b981;
	--color-success-content: #ffffff;

	--color-warning: #f59e0b;
	--color-warning-content: #000000;

	--color-error: #ef4444;
	--color-error-content: #ffffff;

	--radius-selector: 0px;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;

	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	--border: 1px;
	--depth: 0;
	--noise: 0;
}


/* Custom Utilities for Terminal Look */
.font-mono {
	font-family: "JetBrains Mono", "Fira Code", monospace;
}